.commandbar-submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #1f2233;
  border: 1px solid #292d3e;
  padding: 5px;

  .submenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid transparent;

    &:hover {
      border-color: #414863;
      background-color: rgba(146, 155, 202, 0.1);
    }

    .icon {
      margin-right: 10px;
      font-size: 15px;
    }

    p {
      margin-left: 40px;
      font-weight: 200;
      color: #c792ea9d;
    }

    h4 {
      color: #717cb4;
    }

    span {
      margin-left: 15px;

      &:hover {
        color: chocolate;
      }
    }

    .submenu-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: #717cb4;
      }
    }
  }
}

.show-submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
