.commandbar-submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #1f2233;
  border: 1px solid #292d3e;
  padding: 5px;

  .submenu-item {
    display: flex;
    align-items: center;
    font-size: 14px;

    .icon {
      margin-right: 10px;
      font-size: 15px;
    }

    p {
      margin-left: 40px;
      font-weight: 200;
      color: #c792ea9d;
    }

    h4 {
      color: #717cb4;
    }

    span {
      margin-left: 15px;

      &:hover {
        color: chocolate;
      }
    }
  }
}

.show-submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
