.file-viewer {
  flex: 1;
  height: 100%;
  border: 1px solid #292d3e;
  display: flex;
  flex-direction: column;

  .files-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .file-container {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #8f93a2;
    cursor: pointer;

    &:hover {
      background-color: #717cb480;
    }
  }

  .file-selected {
    border: #292d3e;
    border-style: dotted;
  }

  .file-cursor-over {
    border: #292d3e;
    border-style: solid;
  }
}
