.file_view-bar {
  width: 100%;
  min-height: 40px;
  background-color: #1f2233;
  display: flex;
  flex-direction: column;

  .drive-info {
    display: flex;
    align-items: center;

    select {
      width: 50px;
      height: 20px;
      background-color: #090b10;
      color: #eeffff;
      border-color: #1a1c25;
      outline: none;
    }

    h4 {
      font-size: 13px;
      font-weight: 200;
      margin-left: 20px;
    }
  }

  .btns-sort {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    button {
      flex: 1;
      height: 20px;
      color: #717cb4;
      padding: 0 25px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #090b10;
      text-align: left;
      font-size: 12px;

      &:hover {
        background-color: #717cb430;
      }
    }
  }
}
