.search {
  width: 50%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    outline: none;
    background-color: #8f93a2;
    border: 1px solid #4b526d;
    margin-left: 10px;
  }
}
