.taskbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;

  .btns-taskbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    button {
      flex: 1;
      height: 20px;
      color: #eeffff;
      padding: 0 25px;
      cursor: pointer;
      background-color: #1f2233;
      border: 1px solid #090b10;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #090b10;
      }
    }
    span {
      color: #c792ea;
      margin-right: 10px;
    }
  }
}
